.top-nav {
  height: 50px;
  background: #282653;
  font-size: .75rem;
  font-weight: 400;
  color: #95A2AA;
  display: flex;
  padding: 0px 50px;
}

.nav-item {
  padding: 0px 30px;
  line-height:50px;
}

.selected, .nav-item:hover {
  background: #7F56C5;
  color: #FFFFFF;
}

#main {
  padding: 30px 50px;
}

.grid-header-bar {
  display: inline;
  line-height: 30px;
  vertical-align: bottom;
}

.grid-header-1 {
  font-size: 1rem;
  font-weight: 400;
  color: #7F56C5;
}

.grid-header-2 {
  font-size: .75rem;
  font-weight: 400;
  color: #7F56C5;
}

.grid-area-1 {
  display: flex;
  float:left;
}

.separator {
  font-size: 1rem;
  font-weight: 300;
  color: #BCBEC0;
  padding: 0px 5px;
}

.grid-area-2 {
  display: flex;
  float:right;
  font-size: .75rem;
  font-weight: 400, 600;
  color: #7F56C5;
}

.grid-header-of {
  padding: 0px 5px;  
}

.paging {
  display: flex;
  padding-left: 30px;
  font-size: 0.875rem;
  font-weight: 700, 400, 700;
  color: #7F56C5;
}

.paging-number, .paging-total {
  font-weight: bold;
}

.paging-previous, .paging-next {
  font-size: 1.5rem;
  color: #1DAFE9;
  padding-left: 10px;
    
}

.grid {

  display: block;
  clear: both;
  padding-top: 10px;
}

.grid table {
  padding:0px;
  cellpadding: 5px;
  border-collapse: collapse;
  width: 100%;
}

.grid table th:first-child {
  border-radius: 3px 0 0 0;
}

.grid table th:last-child {
  border-radius: 0 3px 0 0;
}


.grid table th {
  padding: 10px;
  height: 32px;
  background: #CACBCE;
  font-size: .75rem;
  font-weight: 700;
  color: #282653;
  text-align: left;
}

.grid table td {
  padding: 0px 10px;
  height: 32px;
  font-size: .75rem;
  font-weight: 400;
  color: #808285;
  width:1px;
  white-space:nowrap;
}

.grid table tr:nth-child(even) {background: #F0F0F0}
.grid table tr:nth-child(odd) {background: #F7F7F7;}

.grid table #address {
  min-width: 150px;
}


select {
  width: 120px;
  padding: 0px 35px 5px 5px;
  border: none;
  outline: 0px;
  color: #1DAFE9;
  font-size: .75rem;
  font-weight: 600;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(/arrow.png) 80% / 8% no-repeat #fff;
}